.div-controlador-botones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.boton-presionado{
    background-color:#E1E1E1;
    border: None;
    flex: 1;
    margin-bottom: 3%;
    cursor: pointer;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.boton{
    background-color:  #D0D0D0;
    border: None;
    flex: 1;
    margin-bottom: 3%;
    cursor: pointer;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}